In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
        'one': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
        'two': pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
        'three': pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

In [3]:
df2 = df.copy()

In [4]:
df.gt(df2)

     one    two  three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [5]:
df.ne(df2)

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [6]:
df

        one       two     three
a -0.627327  1.027006       NaN
b -0.314721 -0.602279  0.815712
c  1.165365 -0.547424 -1.794587
d       NaN -0.034354  0.535890

In [7]:
(df > 0).all()

one      False
two      False
three    False
dtype: bool

In [8]:
(df > 0).any()

one      True
two      True
three    True
dtype: bool

In [10]:
(df > 0).any().all()

True

In [15]:
pd.Series([1]).bool()

ValueError: bool cannot act on a non-boolean single element Series

In [12]:
pd.Series([False]).bool()

False

In [13]:
pd.DataFrame([[True]]).bool()

True

In [14]:
pd.DataFrame([[False]]).bool()

False

In [16]:
 pd.Series(['foo', 'bar', 'baz']) == 'foo'

0     True
1    False
2    False
dtype: bool

In [17]:
pd.Series(['foo', 'bar', 'baz']) == pd.Index(['foo', 'bar', 'qux'])

0     True
1     True
2    False
dtype: bool

In [19]:
# pd.Series(['foo', 'bar', 'baz']) == pd.Series(['foo', 'bar'])