In [1]:
# import pandas
import pandas as pd  

# from apyori import apriori
from apyori import apriori

In [2]:
# load data 
movie_data = pd.read_csv('https://raw.githubusercontent.com/pirandello/apriori/master/movie_dataset.csv', 
                         header = None)

* explore the dataset

In [3]:
print(movie_data.shape)
movie_data.head(10)

(7501, 20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,The Revenant,13 Hours,Allied,Zootopia,Jigsaw,Achorman,Grinch,Fast and Furious,Ghostbusters,Wolverine,Mad Max,John Wick,La La Land,The Good Dunosaur,Ninja Turtles,The Good Dunosaur Bad Moms,2 Guns,Inside Out,Valerian,Spiderman 3
1,Beirut,Martian,Get Out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deadpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X-Men,Allied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ninja Turtles,Moana,Ghost in the Shell,Ralph Breaks the Internet,John Wick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Mad Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,The Spy Who Dumped Me,Hotel Transylvania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Thor,London Has Fallen,The Lego Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Intern,Tomb Rider,John Wick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Hotel Transylvania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* transform dataframe to list of lists (suitable format for apyori)

In [4]:
records = []
for i in range(0, movie_data.shape[0]-1):
    records.append([str(movie_data.values[i,j]) for j in range(0, movie_data.shape[1])])

In [5]:
records[0:2]

[['The Revenant',
  '13 Hours',
  'Allied',
  'Zootopia',
  'Jigsaw',
  'Achorman',
  'Grinch',
  'Fast and Furious',
  'Ghostbusters',
  'Wolverine',
  'Mad Max',
  'John Wick',
  'La La Land',
  'The Good Dunosaur',
  'Ninja Turtles',
  'The Good Dunosaur Bad Moms',
  '2 Guns',
  'Inside Out',
  'Valerian',
  'Spiderman 3'],
 ['Beirut',
  'Martian',
  'Get Out',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan']]

* instantiate apriori and set the input params based on following constraints:
    * we want only movies that are purchased at least 40 times
    * the minimum confidence for the rules is 20%
    * the minumum lift is 3

In [6]:
association_rules = apriori(records, min_support=40/7500, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

* how many association rules did we obtained ?

In [7]:
print(len(association_results))

32

* print the first association rule

In [8]:
print(association_results[0:2])

[RelationRecord(items=frozenset({'Green Lantern', 'Red Sparrow'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Red Sparrow'}), items_add=frozenset({'Green Lantern'}), confidence=0.30069930069930073, lift=3.7903273197390845)]), RelationRecord(items=frozenset({'Star Wars', 'Green Lantern'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Star Wars'}), items_add=frozenset({'Green Lantern'}), confidence=0.37288135593220345, lift=4.700185158809287)])]

* convert association rules to DataFrame 
    * use these columns: title_1, title_2, support, confidence, lift

In [97]:
associations = pd.DataFrame(association_results)
associations

,items,support,ordered_statistics
0,"(Green Lantern, Red Sparrow)",0.005733,"[((Red Sparrow), (Green Lantern), 0.3006993006..."
1,"(Star Wars, Green Lantern)",0.005867,"[((Star Wars), (Green Lantern), 0.372881355932..."
2,"(Jumanji, Kung Fu Panda)",0.016000,"[((Kung Fu Panda), (Jumanji), 0.32345013477088..."
3,"(Wonder Woman, Jumanji)",0.005333,"[((Wonder Woman), (Jumanji), 0.377358490566037..."
4,"(The Spy Who Dumped Me, Spiderman 3)",0.008000,"[((The Spy Who Dumped Me), (Spiderman 3), 0.27..."
5,"(Intern, The Revenant, Coco)",0.005333,"[((Intern, Coco), (The Revenant), 0.2325581395..."
6,"(nan, Green Lantern, Red Sparrow)",0.005733,"[((Red Sparrow), (nan, Green Lantern), 0.30069..."
7,"(nan, Star Wars, Green Lantern)",0.005867,"[((Star Wars), (nan, Green Lantern), 0.3728813..."
8,"(Jumanji, Tomb Rider, Intern)",0.008667,"[((Tomb Rider, Intern), (Jumanji), 0.311004784..."
9,"(The Revenant, Ninja Turtles, Intern)",0.007200,"[((The Revenant, Ninja Turtles), (Intern), 0.3..."
10,"(Tomb Rider, Spiderman 3, Intern)",0.005733,"[((Tomb Rider, Intern), (Spiderman 3), 0.20574..."
11,"(Tomb Rider, The Revenant, Intern)",0.006000,"[((Tomb Rider, Intern), (The Revenant), 0.2153..."
12,"(World War Z, Tomb Rider, Intern)",0.006667,"[((Tomb Rider, Intern), (World War Z), 0.23923..."
13,"(Iron Man, Jumanji, Tomb Rider)",0.005333,"[((Iron Man, Tomb Rider), (Jumanji), 0.3225806..."
14,"(Jumanji, Ninja Turtles, Kung Fu Panda)",0.006667,"[((Kung Fu Panda, Ninja Turtles), (Jumanji), 0..."
15,"(Jumanji, Tomb Rider, Kung Fu Panda)",0.006400,"[((Kung Fu Panda, Tomb Rider), (Jumanji), 0.39..."
16,"(nan, Jumanji, Kung Fu Panda)",0.016000,"[((Kung Fu Panda), (nan, Jumanji), 0.323450134..."
17,"(Jumanji, Tomb Rider, The Revenant)",0.006000,"[((Jumanji, The Revenant), (Tomb Rider), 0.523..."
18,"(Wonder Woman, nan, Jumanji)",0.005333,"[((Wonder Woman), (nan, Jumanji), 0.3773584905..."
19,"(Moana, Tomb Rider, Spiderman 3)",0.007200,"[((Moana, Tomb Rider), (Spiderman 3), 0.203007..."
20,"(nan, The Spy Who Dumped Me, Spiderman 3)",0.008000,"[((The Spy Who Dumped Me), (nan, Spiderman 3),..."
21,"(nan, Intern, The Revenant, Coco)",0.005333,"[((Intern, Coco), (nan, The Revenant), 0.23255..."
22,"(nan, Jumanji, Tomb Rider, Intern)",0.008667,"[((Tomb Rider, Intern), (nan, Jumanji), 0.3110..."
23,"(The Revenant, nan, Ninja Turtles, Intern)",0.007200,"[((The Revenant, Ninja Turtles), (nan, Intern)..."
24,"(nan, Tomb Rider, Spiderman 3, Intern)",0.005733,"[((Tomb Rider, Intern), (nan, Spiderman 3), 0...."
25,"(nan, Tomb Rider, The Revenant, Intern)",0.006000,"[((Tomb Rider, Intern), (nan, The Revenant), 0..."
26,"(World War Z, nan, Tomb Rider, Intern)",0.006667,"[((Tomb Rider, Intern), (World War Z, nan), 0...."
27,"(Iron Man, nan, Jumanji, Tomb Rider)",0.005333,"[((Iron Man, Tomb Rider), (nan, Jumanji), 0.32..."
28,"(nan, Jumanji, Ninja Turtles, Kung Fu Panda)",0.006667,"[((Kung Fu Panda, Ninja Turtles), (nan, Jumanj..."
29,"(nan, Jumanji, Tomb Rider, Kung Fu Panda)",0.006400,"[((Kung Fu Panda, Tomb Rider), (nan, Jumanji),..."
30,"(nan, Jumanji, Tomb Rider, The Revenant)",0.006000,"[((Jumanji, The Revenant), (nan, Tomb Rider), ..."
31,"(nan, Moana, Tomb Rider, Spiderman 3)",0.007200,"[((Moana, Tomb Rider), (nan, Spiderman 3), 0.2..."

In [98]:

associations['items'] = associations['items'].map(lambda x: list(x))

associations['title_1']= associations['items'].map(lambda x:x[0])
associations['title_2']= associations['items'].map(lambda x:x[1])

In [99]:


associations['split_stats']=associations['ordered_statistics'].astype(str)
associations['split_stats']=associations['split_stats'].map(lambda x:x.split(sep = '='))

associations['confidence']= associations['split_stats'].map(lambda x:x[3]) #confidence
associations['lift'] =associations['split_stats'].map(lambda x:x[4]) #lift

# associations

In [100]:
# OKAY NOW DROP REST AND STRIP REST WITH REGEX (lift - everything not a number of ., confidence eve after ,)
associations.drop(columns=['items', 'ordered_statistics','split_stats'], inplace = True)
associations

,support,title_1,title_2,confidence,lift
0,0.005733,Green Lantern,Red Sparrow,"0.30069930069930073, lift",3.7903273197390845)]
1,0.005867,Star Wars,Green Lantern,"0.37288135593220345, lift",4.700185158809287)]
2,0.016000,Jumanji,Kung Fu Panda,"0.3234501347708895, lift",3.2915549671393096)]
3,0.005333,Wonder Woman,Jumanji,"0.37735849056603776, lift",3.840147461662528)]
4,0.008000,The Spy Who Dumped Me,Spiderman 3,"0.2714932126696833, lift",4.1218605162401305)]
5,0.005333,Intern,The Revenant,"0.23255813953488372, lift","3.2540784449843803), OrderedStatistic(items_base"
6,0.005733,nan,Green Lantern,"0.30069930069930073, lift","3.7903273197390845), OrderedStatistic(items_base"
7,0.005867,nan,Star Wars,"0.37288135593220345, lift","4.700185158809287), OrderedStatistic(items_base"
8,0.008667,Jumanji,Tomb Rider,"0.3110047846889952, lift",3.164906221394116)]
9,0.007200,The Revenant,Ninja Turtles,"0.3050847457627119, lift",3.200189640867607)]
10,0.005733,Tomb Rider,Spiderman 3,"0.20574162679425836, lift",3.123607694244813)]
11,0.006000,Tomb Rider,The Revenant,"0.21531100478468898, lift",3.0127472684424763)]
12,0.006667,World War Z,Tomb Rider,"0.23923444976076555, lift","3.497579674864993), OrderedStatistic(items_base"
13,0.005333,Iron Man,Jumanji,"0.3225806451612903, lift",3.282706701098612)]
14,0.006667,Jumanji,Ninja Turtles,"0.390625, lift",3.975152645861601)]
15,0.006400,Jumanji,Tomb Rider,"0.3934426229508197, lift",4.003825878061259)]
16,0.016000,nan,Jumanji,"0.3234501347708895, lift","3.2915549671393096), OrderedStatistic(items_base"
17,0.006000,Jumanji,Tomb Rider,"0.5232558139534884, lift",3.004914704939635)]
18,0.005333,Wonder Woman,nan,"0.37735849056603776, lift","3.840147461662528), OrderedStatistic(items_base"
19,0.007200,Moana,Tomb Rider,"0.20300751879699247, lift",3.0820979574442173)]
20,0.008000,nan,The Spy Who Dumped Me,"0.2714932126696833, lift","4.130221288078346), OrderedStatistic(items_base"
21,0.005333,nan,Intern,"0.23255813953488372, lift","3.260160834601174), OrderedStatistic(items_base"
22,0.008667,nan,Jumanji,"0.3110047846889952, lift","3.164906221394116), OrderedStatistic(items_base"
23,0.007200,The Revenant,nan,"0.3050847457627119, lift","3.200189640867607), OrderedStatistic(items_base"
24,0.005733,nan,Tomb Rider,"0.20574162679425836, lift","3.1299436124887174), OrderedStatistic(items_base"
25,0.006000,nan,Tomb Rider,"0.21531100478468898, lift","3.0183785717479763), OrderedStatistic(items_base"
26,0.006667,World War Z,nan,"0.23923444976076555, lift","3.497579674864993), OrderedStatistic(items_base"
27,0.005333,Iron Man,nan,"0.3225806451612903, lift","3.282706701098612), OrderedStatistic(items_base"
28,0.006667,nan,Jumanji,"0.390625, lift","3.975152645861601), OrderedStatistic(items_base"
29,0.006400,nan,Jumanji,"0.3934426229508197, lift","4.003825878061259), OrderedStatistic(items_base"
30,0.006000,nan,Jumanji,"0.5232558139534884, lift","3.004914704939635), OrderedStatistic(items_base"
31,0.007200,nan,Moana,"0.20300751879699247, lift","3.0883496774390333), OrderedStatistic(items_base"

store_data = pd.read_csv('D:\\Datasets\\store_data.csv', header=None)
store_data.head()

In [36]:
# title_1 = []
# title_2 = []
support = []
confidence = []
lift = []
for i in range(len(association_results)):
    print(association_results[i])
#     title_1 = association_results[i]['RelationRecord'][0]
#     title_2 = association_results[i]['RelationRecord'][1]
    support.append(association_results[i]['support'])
    confidence.append(association_results[i]['confidence']) 
    lift.append(association_results[i]['lift'])
#     print(title_1, title_2)
# item1 = associations[0]['items'][0]

RelationRecord(items=frozenset({'Green Lantern', 'Red Sparrow'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Red Sparrow'}), items_add=frozenset({'Green Lantern'}), confidence=0.30069930069930073, lift=3.7903273197390845)])

TypeError: tuple indices must be integers or slices, not str