In [1]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [2]:
df.head()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no

In [8]:
def filter_animals(df,animal):
    return(df[(df['animal'] == animal) & (df['age'] <3)])

In [3]:
df[(df['animal'] == 'cat') & (df['age'] <3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [11]:
filter_animals(df,'snak')

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [104]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [105]:
def filter_dataframe(df):
    df.dropna(inplace = True)

    lst = df.dtypes.index.tolist()

    for i in range(len(lst)):
        df1 = df[lst[i]]

        if isinstance(df1[2], str):

            df.drop(columns=[lst[i]], inplace = True)
    return(df)

In [106]:
filter_dataframe(df)

   age  visits
a  2.5       1
b  3.0       3
c  0.5       2
e  5.0       2
f  2.0       3
g  4.5       1
i  7.0       2
j  3.0       1

In [103]:
# df.index.tolist()

lst = df.dtypes.index.tolist()

for i in range(len(lst)):
    df1 = df[lst[i]]

    if isinstance(df1[2], str):
        print('uhoh', lst[i])
        df.drop(columns=[lst[i]], inplace = True)

df

uhoh animal
uhoh priority

   age  visits
a  2.5       1
b  3.0       3
c  0.5       2
e  5.0       2
f  2.0       3
g  4.5       1
i  7.0       2
j  3.0       1

In [99]:
df.dropna()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

In [51]:
columns = df.columns.tolist()
for i in range(len(columns)):
    print(columns[i].isstring())
#     if df
#     print(df.dtype[columns[i]])
# df[col].isnull()
df.drop

AttributeError: 'str' object has no attribute 'isstring'

In [45]:
df.isnull()

AttributeError: 'function' object has no attribute 'isnull'

### 2

In [17]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Andres','James','David','Vin','Steve','David','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)

# """
# Write a function that takes df (defined above) as input and returns tuple with 3 values:
#    - Most common name (string)
#    - Average age (float)
#    - IQR of rating (float)

# Notes:
#    - Average age and IQR must be float not numpy.float64 type
# """

In [ ]:
def compute_statistics(df):
    return(df.Name.mode(),df.Age.mean(),df.Rating.min())

In [24]:
df.Name.mode()
df.Age.mean()
df.Rating.iqr()?

SyntaxError: invalid syntax (1924757842.py, line 3)

### 4