## Hypothesis Testing Assignment

In [2]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/19b9lHlkixZhs8yka8zV0QFieao66dUcY/view?usp=sharing). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [10]:
nba_df = pd.read_csv('nba_games_2013_2015.csv', delimiter=';')

In [11]:
nba_df.head(5)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0

In [12]:
nba_df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [14]:
nba_df['SEASON_ID'].value_counts()

22013    2460
22015    2460
22014    2460
Name: SEASON_ID, dtype: int64

In [24]:

nba_df_13 = nba_df[nba_df['SEASON_ID']==22013]
nba_df_15 = nba_df[nba_df['SEASON_ID']==22015]
nba_df_14 = nba_df[nba_df['SEASON_ID']==22014]

In [19]:
nba_df_2013.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4920,22013,1610612742,DAL,Dallas Mavericks,21301216,2014-04-16,DAL @ MEM,L,265,105,...,0.818,15,24,39,22,11,4,13,23,-1.0
4921,22013,1610612743,DEN,Denver Nuggets,21301230,2014-04-16,DEN vs. GSW,L,241,112,...,0.829,9,33,42,23,4,4,19,28,-4.0
4922,22013,1610612762,UTA,Utah Jazz,21301218,2014-04-16,UTA @ MIN,W,291,136,...,0.828,22,38,60,30,10,9,18,34,6.0
4923,22013,1610612751,BKN,Brooklyn Nets,21301224,2014-04-16,BKN @ CLE,L,240,85,...,0.739,6,30,36,21,9,1,15,16,-29.0
4924,22013,1610612753,ORL,Orlando Magic,21301227,2014-04-16,ORL vs. IND,L,240,86,...,0.708,9,31,40,14,9,5,10,16,-15.0

In [22]:
# nba_df_13['TEAM_NAME'].value_counts()

Milwaukee Bucks           82
Cleveland Cavaliers       82
Charlotte Bobcats         82
Denver Nuggets            82
Sacramento Kings          82
Houston Rockets           82
New York Knicks           82
Golden State Warriors     82
Phoenix Suns              82
New Orleans Pelicans      82
Los Angeles Clippers      82
Atlanta Hawks             82
Orlando Magic             82
Utah Jazz                 82
Los Angeles Lakers        82
Indiana Pacers            82
Toronto Raptors           82
Oklahoma City Thunder     82
Minnesota Timberwolves    82
Detroit Pistons           82
Brooklyn Nets             82
Philadelphia 76ers        82
Dallas Mavericks          82
Washington Wizards        82
Miami Heat                82
San Antonio Spurs         82
Chicago Bulls             82
Boston Celtics            82
Memphis Grizzlies         82
Portland Trail Blazers    82
Name: TEAM_NAME, dtype: int64

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [25]:

cc_15_df = nba_df_15[nba_df_15['TEAM_NAME'] == 'Cleveland Cavaliers']
gsw_15_df = nba_df_15[nba_df_15['TEAM_NAME'] == 'Golden State Warriors']

In [ ]:
# check to see if Normally distributed 
#calculate

In [30]:
from scipy.stats import normaltest

def check_normal(data):
    stat, p = normaltest(data)
    print('stat=%.3f, p=%.3f' % (stat, p))
    if p > 0.05:
        print('Probably Gaussian')
    else:
        print('Probably not Gaussian')

In [36]:
# OR shapiro
from scipy.stats import shapiro

def check_normal(data):
    stat, p = shapiro(data)
    print('stat=%.3f, p=%.3f' % (stat, p))
    if p > 0.05:
        print('Probably Gaussian')
    else:
        print('Probably not Gaussian')

In [31]:
gsw_pts = gsw_15_df['PTS']
cc_pts = cc_15_df['PTS']
cc_fg_pct = cc_15_df['FG_PCT']
gsw_fg_pct = gsw_15_df['FG_PCT']

In [37]:
check_normal(gsw_pts)

stat=0.979, p=0.193
Probably Gaussian

In [38]:
check_normal(cc_pts)

stat=0.982, p=0.317
Probably Gaussian

In [39]:
check_normal(cc_fg_pct)

stat=0.988, p=0.651
Probably Gaussian

In [40]:
check_normal(gsw_fg_pct)

stat=0.986, p=0.529
Probably Gaussian

In [59]:
from scipy.stats import ttest_ind

def ttest(data1, data2):
    t_value, p_value = ttest_ind(data1, data2)
    print('stat=%.3f, p=%.3f' % (t_value, p_value))
    print('Test statistic is %f'%float("{:.6f}".format(t_value)))
    
    alpha = 0.05
    
    print('alpha =',alpha)
    print('p-value for two tailed test is ', p)

    

    if p_value<=alpha:

        print('reject null hypothesis')
    else:

        print('accept null hypothesis')
    if p > 0.05:
        print('Probably the same distribution')
    else:
        print('Probably different distributions')

In [60]:
ttest(cc_fg_pct, gsw_fg_pct)

stat=-3.132, p=0.002
Test statistic is -3.131953
alpha = 0.05
p-value for two tailed test is  0.002060975810475517
reject null hypothesis
Probably different distributions

In [61]:
ttest(cc_pts, gsw_pts)

stat=-5.974, p=0.000
Test statistic is -5.973921
alpha = 0.05
p-value for two tailed test is  0.002060975810475517
reject null hypothesis
Probably different distributions

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [63]:
cc_15_df = nba_df_15[nba_df_15['TEAM_NAME'] == 'Cleveland Cavaliers']
cc_14_df = nba_df_15[nba_df_15['TEAM_NAME'] == 'Cleveland Cavaliers']
cc_df = pd.concat([cc_15_df,cc_14_df])

In [67]:
cc_df['GAME_DATE']

4       2016-04-13
40      2016-04-11
78      2016-04-09
127     2016-04-06
151     2016-04-05
           ...
2336    2015-11-04
2364    2015-11-02
2399    2015-10-30
2440    2015-10-28
2456    2015-10-27
Name: GAME_DATE, Length: 164, dtype: object

In [82]:
# date Jan 2016
df_before_fired = cc_df[cc_df['GAME_DATE'] <= '2016-01-24']
df_after_fired = cc_df[cc_df['GAME_DATE'] > '2016-01-24']

df_pts_before = df_before_fired['PTS']
df_pts_after = df_after_fired['PTS']

In [83]:
df_before_fired.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
1143,22015,1610612739,CLE,Cleveland Cavaliers,21500659,2016-01-23,CLE vs. CHI,L,241,83,...,0.409,16,32,48,17,5,5,4,18,-13.0
1176,22015,1610612739,CLE,Cleveland Cavaliers,21500640,2016-01-21,CLE vs. LAC,W,239,115,...,0.750,14,33,47,29,5,2,13,31,13.0

In [77]:
df_after_fired.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0
40,22015,1610612739,CLE,Cleveland Cavaliers,21501203,2016-04-11,CLE vs. ATL,W,240,109,...,0.900,9,38,47,17,9,4,15,14,15.0

#### check assumptions - are normal?

In [100]:
check_normal(df_pts_before)

stat=0.983, p=0.318
Probably Gaussian

In [101]:
check_normal(df_pts_after)

stat=0.964, p=0.023
Probably not Gaussian

In [ ]:
# different sample size try Welch's t-test, (or unequal variances t-test)

In [84]:
t_value, p_value = ttest_ind(df_pts_before, df_pts_after, equal_var=False)
 
print('stat=%.3f, p=%.3f' % (t_value, p_value))
print('Test statistic is %f'%float("{:.6f}".format(t_value)))

alpha = 0.05

print('alpha =',alpha)
print('p-value for two tailed test is ', p)



if p_value<=alpha:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')
if p > 0.05:
    print('Probably the same distribution')
else:
    print('Probably different distributions')

stat=-4.272, p=0.000
Test statistic is -4.271582
alpha = 0.05
p-value for two tailed test is  0.002060975810475517
reject null hypothesis
Probably different distributions

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/1jY57bAOZp9y83b4W2PAoSH1uFARaxxls/view?usp=sharing) with scores from playoff games in 2016.

In [87]:
playoffs_df = pd.read_csv('nba_playoff_games_2016.csv', delimiter=';')

In [88]:
playoffs_df.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42015,1610612739,CLE,Cleveland Cavaliers,41500407,2016-06-19,CLE @ GSW,W,241,93,...,0.840,9,39,48,17,7,6,11,15,4.0
1,42015,1610612744,GSW,Golden State Warriors,41500407,2016-06-19,GSW vs. CLE,L,239,89,...,0.769,7,32,39,22,7,5,10,23,-4.0

In [89]:
playoffs_df.keys()

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [93]:
#get toronto rapters
playoffs_raptors = playoffs_df[playoffs_df['TEAM_NAME']== 'Toronto Raptors']
season_raptors = nba_df_15[nba_df_15['TEAM_NAME']== 'Toronto Raptors']

In [96]:
seas_rapt_blk = season_raptors['BLK']
plo_rapt_blk = playoffs_raptors['BLK']

In [97]:
seas_rapt_blk.count()

82

In [98]:
plo_rapt_blk.count()

20

In [99]:
t_value, p_value = ttest_ind(seas_rapt_blk, plo_rapt_blk, equal_var=False)
 
print('stat=%.3f, p=%.3f' % (t_value, p_value))
print('Test statistic is %f'%float("{:.6f}".format(t_value)))

alpha = 0.05

print('alpha =',alpha)
print('p-value for two tailed test is ', p)



if p_value<=alpha:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')
if p > 0.05:
    print('Probably the same distribution')
else:
    print('Probably different distributions')

stat=3.500, p=0.001
Test statistic is 3.500438
alpha = 0.05
p-value for two tailed test is  0.002060975810475517
reject null hypothesis
Probably different distributions


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [ ]:
# Anova for this one check sample size (F-test)

#assumptions - normal
# homoscedasticity or Homogeneity of variances 
# (variances are equal between treatment groups) (Leveneâ€™s or Bartlettâ€™s Test)

# *** this is a good article

In [102]:
cc_15 = nba_df_15[nba_df_15['TEAM_NAME'] == 'Cleveland Cavaliers']
cc_14 = nba_df_14[nba_df_14['TEAM_NAME'] == 'Cleveland Cavaliers']
cc_13 = nba_df_13[nba_df_13['TEAM_NAME'] == 'Cleveland Cavaliers']

In [106]:
pts_15 =cc_15['PTS'] 
pts_13 =cc_13['PTS'] 
pts_14 =cc_14['PTS']

In [108]:
pts_13.head(2)

4947    114
4992     99
Name: PTS, dtype: int64

In [109]:
#check normality
check_normal(pts_14)

stat=0.980, p=0.220
Probably Gaussian

In [111]:
check_normal(pts_13)

stat=0.981, p=0.282
Probably Gaussian

In [110]:
check_normal(pts_15)

stat=0.982, p=0.317
Probably Gaussian

In [ ]:
# Plot for normality?? Q-Q plot
# from:
#     https://towardsdatascience.com/anova-test-with-python-cfbf4013328b

# import numpy as np 
# import scipy.stats as stats
# import matplotlib.pyplot as plt

# unique_majors = sample_df['major'].unique()
# for major in unique_majors:
#     stats.probplot(sample_df[sample_df['major'] == major]['salary'], dist="norm", plot=plt)
#     plt.title("Probability Plot - " +  major)
#     plt.show()

In [ ]:
# Check for variance 
# ratio = sample_df.groupby('major').std().max() / sample_df.groupby('major').std().min()
# ratio

In [112]:
import scipy.stats as stats

# stats f_oneway functions takes the groups as input and returns ANOVA F and p value

fvalue, pvalue = stats.f_oneway(pts_14, pts_15, pts_13)
print(fvalue, pvalue)

5.920025031808088 0.0030877271199840155

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.