# XML exercise

Using data from [**mondial database**](https://drive.google.com/file/d/14lFT4nWHgwN36ij4XZh6OUuup-K9qLgR/view?usp=sharing) find the answers to following questions:

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [2]:
import xml.etree.ElementTree as ET
import pandas as pd

In [10]:
tree = ET.parse('mondial.xml')  # Load from file
root = tree.getroot()
type(root)

xml.etree.ElementTree.Element

In [23]:
# infant_mortality_value = root.findall("./country/infant_mortality")

In [25]:
# type(infant_mortality_value)

list

In [11]:
# infant_mortality_list = []
# for i in range(len(infant_mortality_value)):
#     infant_mortality_list.append(infant_mortality_value[i].text())

In [124]:
root[0].tag

'country'

In [126]:
my_dict = {'name': [],
           'infant_mortality': []
          }
for country in root: 
    
    try:
        infant_mortality_value = country.findtext('infant_mortality')
        my_dict['infant_mortality'].append(float(infant_mortality_value))
        
        name_value = country[0].text
        my_dict['name'].append(name_value)
#         print(infant_mortality_value)
    except:  
        pass
        
# my_dict['infant_mortality']

In [133]:
df = pd.DataFrame(my_dict).sort_values(by="infant_mortality", ascending =False).head(10)
df

                         name  infant_mortality
178            Western Sahara            145.82
48                Afghanistan            117.23
173                      Mali            104.34
210                   Somalia            100.14
197  Central African Republic             92.86
214             Guinea-Bissau             90.92
198                      Chad             90.30
176                     Niger             86.27
179                    Angola             79.99
185              Burkina Faso             76.80

              name  infant_mortality
0          Albania             13.19
1           Greece              4.78
2  North Macedonia              7.90
3           Serbia              6.16
4          Andorra              3.69
5           France              3.31

In [90]:
# type(my_dict)
# # my_dict.sort_values()
# my_dict.sort_values("infant_mortality")

In [132]:
# my_y = {}
# for x in tree.iterfind('country'):
    

#     this_x = {}
#     this_x["infant_mortality"] = x.findtext('infant_mortality')
#     my_y[x.findtext('name')]=this_x

# x_pd=pd.DataFrame(x).transpose()
# x_pd.sort_values("infant_mortality")[:10]

In [92]:
# infant_mortality_value = root.findall("./country/infant_mortality")
# infant_mortality_value.get_text[0]

In [ ]:
# my_dict = {'name': [],
#            'infant_mortality': []
#           }
# for country in root: 
#     name_value = country[0].text
#     my_dict['name'].append(name_value)

#     infant_mortality_value = country[11].text
#     my_dict['infant_mortality'].append(infant_mortality_value)
    
# my_dict

## 10 cities with largest population

In [4]:
pd.read_xml("mondial.xml")

,car_code,area,capital,memberships,name,population,population_growth,infant_mortality,gdp_total,gdp_agri,...,height,sea,islands,river,lake,last_eruption,mountains,iatacode,gmtOffset,located_on
0,AL,28750.0,cty-Albania-Tirane,org-BSEC org-CEI org-CD org-SELEC org-CE org-E...,Albania,2821977.0,0.30,13.19,12800.0,19.5,...,NaN,None,None,None,None,None,None,None,NaN,NaN
1,GR,131940.0,cty-Greece-Athens,org-AG org-BIS org-BSEC org-CD org-SELEC org-C...,Greece,10816286.0,0.01,4.78,243300.0,3.5,...,NaN,None,None,None,None,None,None,None,NaN,NaN
2,MK,25333.0,cty-Macedonia-Skopje,org-BIS org-CEI org-CD org-SELEC org-CE org-EA...,North Macedonia,2059794.0,0.21,7.90,10650.0,10.2,...,NaN,None,None,None,None,None,None,None,NaN,NaN
3,SRB,77474.0,city-Belgrade-SRB-SRB,org-BIS org-BSEC org-CEI org-CD org-SELEC org-...,Serbia,7120666.0,-0.46,6.16,43680.0,7.9,...,NaN,None,None,None,None,None,None,None,NaN,NaN
4,MNE,14026.0,city-Podgorica-MNE-MNE,org-CEI org-CD org-SELEC org-CE org-EAPC org-E...,Montenegro,620029.0,-0.49,NaN,4518.0,0.8,...,NaN,None,None,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3398,None,NaN,None,None,Livingstone,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,None,None,LVI,2.0,NaN
3399,None,NaN,None,None,Ndola,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,None,None,NLA,2.0,NaN
3400,None,NaN,None,None,Lusaka Intl,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,None,None,LUN,2.0,NaN
3401,None,NaN,None,None,J M Nkomo Intl,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,None,None,BUQ,2.0,NaN
3402,None,NaN,None,None,Harare Intl,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,None,None,HRE,2.0,NaN

In [5]:
popu = pd.read_xml("mondial.xml").head(2)

In [7]:
type(popu)

pandas.core.frame.DataFrame

In [6]:
popu.keys()

Index(['car_code', 'area', 'capital', 'memberships', 'name', 'population',
       'population_growth', 'infant_mortality', 'gdp_total', 'gdp_agri',
       'gdp_ind', 'gdp_serv', 'inflation', 'unemployment', 'indep_date',
       'government', 'encompassed', 'ethnicgroup', 'religion', 'language',
       'border', 'city', 'localname', 'province', 'dependent', 'id', 'headq',
       'abbrev', 'established', 'members', 'country', 'bordering', 'located',
       'depth', 'to', 'length', 'source', 'estuary', 'island', 'through',
       'latitude', 'longitude', 'elevation', 'type', 'salinity', 'height',
       'sea', 'islands', 'river', 'lake', 'last_eruption', 'mountains',
       'iatacode', 'gmtOffset', 'located_on'],
      dtype='object')

In [9]:
popu["city"]

0     NaN
1    None
Name: city, dtype: object

In [ ]:
#2 dictionarys from cities with and provinces

In [ ]:

popu[["name", "population"]].sort_values

In [ ]:
# Find all child with tag country
for country in root.findall('city'):
    # rank is child of the country
    rank = country.find('rank').text
    # name is attribute of the country
    name = country.get('name')
    print(name, rank)

In [ ]:
#find ppu
for city in root.iter('city'):
    print(neighbor.attrib)

In [134]:
# want this tag: <population year="2011" measured="census">

# my_dict = {'name': [],
#            'population': []
#           }
# for country in root: 
#     for 
    
#     try:
#         city_population_value = country.get
#         population_value = country.findtext('population')
#         my_dict['population'].append(float(population_value))
        
#         name_value = country[0].text
#         my_dict['name'].append(name_value)
# #         print(infant_mortality_value)
#     except:  
#         pass
#     name_value = country[0].text
#     my_dict['name'].append(name_value)
    
#     try:
#         population_value = country[9].text
#         my_dict['population'].append(population_value)
#     except:
#         population_value = 0
#         my_dict['population'].append(population_value)
        
# my_dict['population']

In [12]:
pop_dict = {'city': [],
           'population': []
          }

for neighbor in root.iter('neighbor'):
    print(neighbor.attrib)
    
for country in root:
    
    
    try:
        city_population_value = country.get
        population_value = country.findtext('population')
        pop_dict['population'].append(float(population_value))
        
        city_value = country[0].text
        my_dict['city'].append(city_value)
#         print(infant_mortality_value)
    except:  
        pass

In [17]:
# pop_extractor('country/province/city')

## name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [ ]:
d

## This is the way

In [25]:
infant_mort = {}
for ele in tree.iterfind('country'):
    current_element = {}
    current_element['infant_mortality'] = ele.findtext('infant_mortality')
    infant_mort[ele.findtext('name')] = current_element
# infant_mort

In [22]:
im_df = pd.DataFrame(infant_mort)
im_df
im_t_df = im_df.transpose()
im_t_df
im_t_df = im_t_df.astype({'infant_mortality': float})

In [ ]:
def pop_extractor(querystring): #'country/province/city'
    pop_list = []
    for ele in tree.iterfind(querystring):
        temp = []
        for i in range(len(ele)):
            if ele[i].tag == 'population':
                temp.append(int(ele[i].text))
        pop_list.append(temp)
    pops_final = []
    for l in pop_list:
        if len(l) == 0:
            pops_final.append(0)
        else:
            pops_final.append(l[-1])
    return pops_final

In [23]:
city_pop = {}
for ele in tree.iterfind('country/city'):
    current_element = {}
    current_element["population"]= current_element
    city_pop[ele.findtext('name')] = current_element
len(city_pop)

city_pop_2 = {}
for ele in tree.iterfind('country/province/city'):
    current_element = {}
    current_element["population"]= current_element
    city_pop[ele.findtext('name')] = current_element
len(city_pop_2)

0

In [ ]:

for ele in tree.iterfind('country/city'):
    print(ele.findtext('population'))

In [ ]:
# running separate functions and mergine the dicts
city_pop.update(city_pop_2)
# convert to dataframe

In [ ]:
rivers = {'length': [],
         'country:',
         'name':[]}

for ele in tree.iterfind['river']:
    if ele.findall('length'):
        rivers['length'].append(float(ele.findall('length))[0].text))
    else:
        rivers['length'].append(0)
        rivers['country'].append(ele.attib['country']) 
        rivers['name'].append((ele.attrib['id']).split(''-''))
                                                  
rivers_db = pd.DataFrame(rivers)
rivers_db.groupby('country').max().sort_values(by='length', ascending=False).head()

In [ ]:
lakes = {'area':[],
        'country': [],
        'name': []
        }
# do same thing above but for lakes .
for ele in tree.iterfind['lake']:
    if ele.findall('area'):
        rivers['area'].append(float(ele.findall('area'))[0].text))
    else:
        lakes['area'].append(0)
        lakes['country'].append(ele.attib['country']) 
        lakes['name'].append((ele.attrib['id']).split(''-''))
                                                  
lakes_db = pd.DataFrame(rivers)
lakes_db.groupby('country').max().sort_values(by='area', ascending=False).head()

In [ ]:
airport = {'elevation'':[],
        'country': [],
        'name': []
        }
# do same thing above but for airports .
for ele in tree.iterfind['lake']:
    if ele.findall('area'):
        rivers[''area'].append(float(ele.findall('area'))[0].text))
    else:
        lakes[''area'].append(0)
        lakes['country'].append(ele.attib['country']) 
        lakes['name'].append((ele.attrib['id']).split(''-''))
                                                  
lakes_db = pd.DataFrame(rivers)
lakes_db.groupby('country').max().sort_values(by='area', ascending=False).head()

In [ ]:
my_dict = {'name': [],
           'river_length': [],
           'lake': [],
           'airport_elevation': [],
          }

for country in root: 
    name_value = country[0].text
    my_dict['name'].append(name_value)