In [2]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [8]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Using groupby(), count the number of films that have been released in each decade in the history of cinema.

In [12]:
titles['decades'] = titles['year'] - (titles['year']%10)
titles[['decades']].groupby('decades').size()

decades
1890        3
1900       37
1910     6512
1920     8797
1930    10097
1940     8576
1950    12711
1960    17515
1970    18714
1980    20243
1990    22225
2000    38713
2010    67977
2020      210
dtype: int64

### Use groupby() count the number of "Hamlet" films made in each decade.

In [24]:
titles['decades'] = titles['year'] - (titles['year']%10)
my_filter = titles['title'] == 'Hamlet'
hamlet_films = titles[my_filter]
hamlet_films
hamlet_films[['decades']].groupby('decades').size()

decades
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [35]:
my_filter = ((cast['n'] == 1) & ((cast['year'] - (cast['year']%10)) == 1950))
leading = cast[my_filter]
leading[['type', 'n']].groupby('type').size()

type
actor      6616
actress    2965
dtype: int64

In [29]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3634462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3634463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3634464,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3634465,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3634466,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### In the 1950s taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

In [68]:
my_filter = (((cast['year'] - (cast['year']%10)) == 1950) & (cast['n'] <6))
leading = cast[my_filter]
leading[['type', 'n']].groupby(by =['type', 'n']).size()

type     n
actor    1.0    6616
         2.0    4564
         3.0    5587
         4.0    5594
         5.0    5611
actress  1.0    2965
         2.0    4556
         3.0    3148
         4.0    2849
         5.0    2544
dtype: int64

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

In [64]:
my_filter= (cast['title'].str.contains("Pink Panther"))
pink_panther = cast[my_filter]

pink_panther[['title','character']].groupby(by=['title']).count()
# cast['title']

                                character
title
Curse of the Pink Panther              67
Revenge of the Pink Panther            64
Son of the Pink Panther                46
The Pink Panther                      111
The Pink Panther 2                     84
The Pink Panther Strikes Again         68
The Return of the Pink Panther         30
Trail of the Pink Panther              41

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

In [129]:
frank = cast[cast['name'] =='Frank Oz']
frank
frank_roles = frank[['title', 'character','year']].groupby(['title','year']).count()
my_filter = frank_roles['character'] >=2
frank_roles[my_filter].sort_index()
# frank_roles.index

TypeError: unhashable type: 'list'

In [89]:
frank = cast[cast['name'] =='Frank Oz']

In [78]:
frank

,title,year,name,type,character,n
0,Closet Monster,2015,Frank Oz,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Frank Oz,actor,Guests,22.0
2,Battle of the Sexes,2017,Frank Oz,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,Frank Oz,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,Frank Oz,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3634462,Foxtrot,1988,Frank Oz,actress,D?ra,24.0
3634463,Niceland (Population. 1.000.002),2004,Frank Oz,actress,Woman in Bus,26.0
3634464,Skammdegi,1985,Frank Oz,actress,Hj?krunarkona,9.0
3634465,U.S.S.S.S...,2003,Frank Oz,actress,Afgr.dama ? bens?nst??,17.0
3634466,Bye Bye Blue Bird,1999,Frank Oz,actress,Pensionatv?rtinde,NaN

### List each of the characters that Frank Oz has portrayed at least twice.

In [49]:
cast['character']

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3634462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3634463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3634464,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3634465,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3634466,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN