In [1]:
!pip install pandas
import numpy as np
import pandas as pd

Requirement already satisfied: pandas in /Users/lilakelland/opt/anaconda3/lib/python3.8/site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/lilakelland/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.2 in /Users/lilakelland/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/lilakelland/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/lilakelland/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [19]:
s=pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])

In [102]:
d = {'b': 1, 'a': 0, 'c': 2}

In [5]:
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [2]:
pd.Series(5.)
# pd.Series(5, index=['a', 'b', 'c', 'd', 'e'])

0    5.0
dtype: float64

In [3]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [107]:
pd.Series([10, 11])

0    10
1    11
dtype: int64

In [15]:
s[0]

0.49302171944942513

In [16]:
s

a    0.493022
b   -0.796907
c    0.007819
d    0.015483
e   -0.088955
dtype: float64

In [17]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [18]:
pd.Series(np.random.randn(5))

0    1.709459
1   -0.122398
2    0.274172
3    0.747956
4   -0.647403
dtype: float64

In [20]:
s

a    0.439229
b   -2.158708
c   -0.419893
d   -1.254864
e   -0.795576
dtype: float64

In [21]:
s[0]

0.43922880261872815

In [22]:
s['a']

0.43922880261872815

In [23]:
'e' in s

True

In [24]:
'f' in s

False

In [26]:
# s['f']

In [27]:
s+s

a    0.878458
b   -4.317416
c   -0.839786
d   -2.509728
e   -1.591152
dtype: float64

In [28]:
s * 2

a    0.878458
b   -4.317416
c   -0.839786
d   -2.509728
e   -1.591152
dtype: float64

In [29]:
np.exp(s)

a    1.551510
b    0.115474
c    0.657117
d    0.285115
e    0.451321
dtype: float64

In [30]:
s1 = s[1:]

In [31]:
s2 = s[:-1]

In [32]:
s1 + s2

a         NaN
b   -4.317416
c   -0.839786
d   -2.509728
e         NaN
dtype: float64

In [33]:
 s = pd.Series(np.random.randn(5), name='something')

In [34]:
s.name

'something'

In [80]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
         'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [81]:
df = pd.DataFrame(d)

In [82]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [83]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [111]:
pd.DataFrame([d], index=['d', 'b', 'a'], columns=['two', 'three'])

   two  three
d  NaN    NaN
b  NaN    NaN
a  NaN    NaN

In [73]:
d = {'one': [1., 2., 3., 4.],
         'two': [4., 3., 2., 1.]}

In [41]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [42]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [43]:
pd.DataFrame(pd.Series(np.random.randn(5), name='something'))

   something
0  -1.506253
1   0.229168
2   0.236416
3   0.626239
4   0.505461

In [45]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [46]:
df['three'] = df['one'] * df['two']

In [47]:
df['flag'] = df['one'] > 2

In [48]:
df

   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [49]:
del df['two']

In [50]:
df['foo'] = 'bar'

In [51]:
df

   one  three   flag  foo
a  1.0    1.0  False  bar
b  2.0    4.0  False  bar
c  3.0    9.0   True  bar
d  NaN    NaN  False  bar

In [52]:
df['one_trunc'] = df['one'][:2]

In [53]:
df

   one  three   flag  foo  one_trunc
a  1.0    1.0  False  bar        1.0
b  2.0    4.0  False  bar        2.0
c  3.0    9.0   True  bar        NaN
d  NaN    NaN  False  bar        NaN

In [56]:
df = pd.DataFrame(np.random.randn(8, 3), columns=list('ABC'))

In [55]:
list('ABC')

['A', 'B', 'C']

In [57]:
df * 5 +2

          A         B         C
0 -0.205318  1.995989 -1.699516
1  1.168822 -3.355651 -0.774933
2  7.698744  1.384223 -1.590940
3  2.384746 -4.953834  5.184457
4 -0.884090 -8.512653 -5.887490
5  3.269430 -1.764615 -8.501430
6  0.088848  1.955795  2.888791
7 -6.421784  0.328595 -0.443686

In [58]:
1/df

           A            B         C
0  -2.267246 -1246.492800 -1.351528
1  -6.015560    -0.933593 -1.801846
2   0.877386    -8.119829 -1.392393
3  12.995592    -0.719028  1.570126
4  -1.733649    -0.475617 -0.633915
5   3.938777    -1.328157 -0.476126
6  -2.616222  -113.109082  5.625619
7  -0.593698    -2.991496 -2.046089

In [59]:
df **4

          A             B          C
0  0.037845  4.142294e-13   0.299709
1  0.000764  1.316343e+00   0.094870
2  1.687472  2.300449e-04   0.266044
3  0.000035  3.741255e+00   0.164536
4  0.110702  1.954201e+01   6.192632
5  0.004155  3.213678e-01  19.458699
6  0.021345  6.109562e-09   0.000998
7  8.048897  1.248667e-02   0.057056

In [60]:
df1 = pd.DataFrame({'a': [1, 0, 1], 'b': [0, 1, 1]}, dtype=bool)

In [61]:
df1

       a      b
0   True  False
1  False   True
2   True   True

In [65]:
df2 = pd.DataFrame({'a': [0, 1, 1], 'b': [1, 1, 0]}, dtype=bool)

In [66]:
df2

       a      b
0  False   True
1   True   True
2   True  False

In [64]:
df1 &df2

       a      b
0  False  False
1  False   True
2   True  False

In [67]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [68]:
df1 ^ df2 # symetric difference (only ones that are diff)

       a      b
0   True   True
1   True  False
2  False   True

In [69]:
-df1 # opposite

       a      b
0  False   True
1   True  False
2  False  False

In [70]:
dft = pd.DataFrame({'A': np.random.rand(3),
                        'B': 1,
                        'C': 'foo',
                        'D': pd.Timestamp('20010102'),
                        'E': pd.Series([1.0] * 3).astype('float32'),
                        'F': False,
                        'G': pd.Series([1] * 3, dtype='int8')})

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [89]:
pd.Series([1, 2, 3, 6., 'foo'])

0      1
1      2
2      3
3      6
4    foo
dtype: object

In [91]:
df1 = pd.DataFrame(np.random.randn(8, 1), columns=['A'], dtype='float32')

In [92]:
df1.dtypes

A    float32
dtype: object

In [94]:
df1 = df1.astype('float64')

In [95]:
df1.dtypes

A    float64
dtype: object

In [96]:
dft1 = pd.DataFrame({'a': [1, 0, 1], 'b': [4, 5, 6], 'c': [7, 8, 9]})

In [98]:
dft1 = dft1.astype({'a': bool, 'c': np.float64})

In [99]:
dft1

       a  b    c
0   True  4  7.0
1  False  5  8.0
2   True  6  9.0